name: Create & Deploy Docker Image to GHCR

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Run manually from the Actions tab.

jobs:
  create-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    defaults:
      run:
        working-directory: './src'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Build Image
        run: |
          docker build . --tag ghcr.io/chimbori/butterfly:latest
          docker push ghcr.io/chimbori/butterfly:latest
